#info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40% ;
}

#text-div {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.contact-box {
        background-color: rgb(29, 29, 29);
        position: fixed;
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-shadow: rgba(36, 165, 182, 0.4) 0px 6px 40px 15px,
            rgba(0, 0, 0, 0.12) 0px -12px 50px, rgba(0, 0, 0, 0.12) 0px 36px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 4em;
      }

      .contact-contact {
        font-size: 3.25vh;
      }

      .contact-text {
        color: rgb(117, 117, 117);
        font-weight: bold;
        font-size: 3.25vh;
      }

