#box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  width: 100%;
}

.login-box {
  background-color: rgb(29, 29, 29);
  position: fixed;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(36, 165, 182, 0.4) 0px 6px 40px 15px,
      rgba(0, 0, 0, 0.12) 0px -12px 50px, rgba(0, 0, 0, 0.12) 0px 36px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 4em;
}


#register-box {
    height: 80%;
 
  }
  

#login_error_message {
  color: rgb(142, 0, 0);
}

.entries {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 20%;
  padding: 1%;
}

#register-entries {
  height: 10%;
}

#login-text {
  color: rgb(117, 117, 117);
  width: 25%;
  left: 0;
  font-weight: bold;
  font-size: larger;
}

.login-inputs {
  height: 25%;
  width: 40%;
border-radius: 9999em;
  background: #fff;
  color: #525865;
  box-shadow: 
  rgba(36, 165, 182, 0.638) 0px 15px 15px,
    rgba(0, 0, 0, 0.269) 0px -10px 12px, rgba(0, 0, 0, 0.12) 0px 8px 8px,
    rgba(0, 0, 0, 0.368) 0px 10px 12px, rgba(0, 0, 0, 0.09) 0px -8px 8px;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 1s ease;
}

#login-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#login-buttons {
  width: 20%;
  height: 5vh;
  margin-inline: 6%;
  transition: 0.5s ease;
  background-color: rgb(17, 183, 183);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 9999em;
  border: 2px solid rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  font-weight: bold;
  margin-top: 3%;
  font-family: 'Abel', sans-serif;
}

#login-buttons:hover {
  background-color: grey;
}

#h2-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
